$margin: 0;
$padding: 0;
$left: 50%;
$transform-x: translateX(-50%);
$transform-y: translateY(-50%);
$positionAbs: absolute;
$positionRel: relative;
$overflowHid: hidden;

* {
  box-sizing: border-box;
  padding: $padding;
  margin: $margin;
}

body,
html {
  overflow-x: hidden;
}

.hero {
  overscroll-behavior: none;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  overflow: $overflowHid;
  position: $positionRel;
  color: #ffffff;
  margin-bottom: 50px;

  &__title,
  &__desc {
    position: $positionAbs;
    left: $left;
    transform: $transform-x;

    @media (max-width: 767px) {
      width: 300px;
    }
  }

  &__title {
    bottom: 135px;
    font-size: 80px;
    line-height: 1em;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      bottom: 170px;
      margin-bottom: 0;
    }
  }

  &__desc {
    bottom: 100px;
    font-size: 14px;
  }

  &__main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__panel {
    flex: 0 0 100vw; // each slide take full width
  }

  &__arrow {
    position: $positionAbs;
    left: $left;
    transform: $transform-x;
    bottom: 40px;
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
  }
}

.carousel-scroller {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto 50px auto;
  overflow: $overflowHid;

  &__img {
    position: $positionRel;
    margin-bottom: 10px;

    &__child {
      max-width: 1300px;
      width: 100%;

      &:first-child {
        display: none;
        @media (max-width: 767px) {
          display: block;
        }
      }
      &:nth-child(2) {
        display: block;
        @media (max-width: 767px) {
          display: none;
        }
      }
    }

    &__arrow {
      position: $positionAbs;
      right: 100px;
      bottom: 30px;
      @media (max-width: 767px) {
        right: 20px;
        bottom: 20px;
      }
    }
  }

  &__title {
    font-size: 40px;
    line-height: 1em;
    position: $positionAbs;
    left: 60px;
    bottom: 30px;
    color: white;
    @media (max-width: 767px) {
      font-size: 30px;
      right: 20px;
      left: 20px;
      bottom: 20px;
    }
  }
}

.rotator {
  position: relative;

  &__indicators {
    width: 200px;
    top: 50%;
    transform: $transform-y;
    left: 20%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    z-index: 999;
    @media (max-width: 767px) {
      display: none;
    }

    &__child {
      width: 10px;
      height: 10px;
      border-radius: 50px;
      background-color: #adadad;
      margin: 10px 0;
      cursor: pointer;
      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  &__page-counter {
    font-size: 70px;
    font-style: italic;
    color: #002664;
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__point {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);

    img {
      width: 400px;
      max-width: 100%;
    }

    @media (max-width: 767px) {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
    }
  }

  &__wrapper {
    height: 100vh;
    width: 100%;
  }
}
